@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ape-stat-bar-display{
  display: flex;
}

.ape-stat-bar-unclaimed{
  text-align: end;
}

@media (max-width: 769px) {
  .ape-stat-bar-display{
    display: block;
  }
  .ape-stat-bar-unclaimed{
    text-align: start;
  }
  .ape-stat-bar-rewards{
    justify-self: end;
  }
}